<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="dj4e-code" content="42173848887402">
    <meta name="dj4e" content="dcb88e77b00e85321d39b4e4097c1107">
    <title>Home</title>
</head>
<body>
    <ul>
        <li><p><a href="/polls">A Polls Application</a></p></li>
        <li><p><a href="/hello">Test the session</a></p></li>
        <li><p><a href="/autos">Autos CRUD</a></p></li>
        <li><p><a href="/cats">Cats CRUD</a></p></li>
        <li><p><a href="/ads">Ads</a></p></li>
    </ul>
</body>
</html>
