{% extends "base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block head %}
<style>
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.comment-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
</style>
{% endblock %}

{% block content %}
{% if ad.content_type %}
<div id="overlay" class="overlay" style="text-align: center;"
   onclick="document.getElementById('overlay').style.display = 'none';" >
</div>
{% endif %}

<!-- Ad Information -->
<span style="float: right;">
({{ ad.updated_at|naturaltime }})
</span>

<h1>{{ ad.title }}</h1>

{% if ad.image %}
<!-- Display image if associated with the ad -->
<img style="float:right; max-width:50%;" src="{{ ad.image.url }}" alt="{{ ad.title }}">
{% endif %}

<p>{{ ad.text }}</p>
<p>Price: {{ ad.price }}</p>

<p>Tags: 
  {% for tag in ad.tags.all %}
    <a href="{% url 'ads:all' %}?search={{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
</p>

<p><a href="{% url 'ads:all' %}">All ads</a></p>

<!-- Comment Form -->
{% if user.is_authenticated %}
<br clear="all"/>
<p>
{% load crispy_forms_tags %}
<form method="post" action="{% url 'ads:ad_comment_create' ad.id %}">
    {% csrf_token %}
    {{ comment_form|crispy }}
    <input type="submit" value="Submit">
    <input type="submit" value="All Ads" onclick="window.location.href='{% url 'ads:all' %}';return false;">
</form>
</p>
{% endif %}

<!-- Display Comments -->
<h2>Comments:</h2>
{% for comment in comments %}
<div class="comment-box">
    <span>({{ comment.updated_at|naturaltime }})</span>
    <p>{{ comment.text }}</p>
</div>
{% empty %}
<p>No comments yet.</p>
{% endfor %}
{% endblock %}
