.home
{
position:absolute;
background-color:rgba(87, 26, 26, 0);
height:220px;
width:606px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.rectangle1
{
background-color:#004b93;
height:60px;
width:200px;
position:absolute;
top:0px;
left:0px;
}
.rectangle4
{
background-color:#004b93;
height:60px;
width:200px;
top:100px;
left:0px;
position:absolute;
}
.rectangle6
{
background-color:#004b93;
height:60px;
width:200px;
top:100px;
left:406px;
position:absolute;
}
.rectangle5
{
background-color:#004b93;
height:60px;
width:200px;
top:100px;
left:203px;
position:absolute;
}
.rectangle2
{
background-color:#004b93;
height:60px;
width:200px;
top:0px;
left:203px;
position:absolute;
}
.rectangle3
{
background-color:#004b93;
height:60px;
width:200px;
top:0px;
left:406px;
position:absolute;
}
.listofoptions
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Montserrat;
align-self:flex-start;
left:230px;
top:115px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
width:145px;
display:flex;
}
